{% extends 'base.html' %}
{% load static %}
{% block title %}Dziękujemy!{% endblock %}
{% block navigation %}{% include 'nav-styles.html' %}{% endblock %}

      {% block content %}
      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
      {% endblock %}

{% block footer %}
{% include 'footer-styles.html' %}
{% endblock %}
{% block script %}<script src="{% static 'js/app.js' %}"></script>{% endblock %}
